@import '../../styles/main';
.users__summary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  @include largeScreen {
    display: flex;
    justify-content: space-between;
  }
}

.users {
  h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 40px;
  }
}

.card {
  max-width: 240px;
  height: 160px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  background: #ffffff;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 40px;
  @include tabletSize {
    width: 240px;
  }
  p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
  }
  h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
  }
}

.table__container {
  padding: 3%;
  background: #ffffff;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  margin-bottom: 20px;
  position: relative;
  a {
    text-decoration: none;
    color: $secondary-text;
  }
}
.table {
  color: $secondary-text;
  overflow-x: auto;
  // position: relative;
}

// tbody tr td {
//   border-bottom: 1px solid rgba(33, 63, 125, 0.1);
// }

.filters {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  #{&}__btn {
    gap: 0 16px;
    align-items: center;
  }
  @include tabletSize {
    flex-direction: row;
    gap: 0;
  }
}
.table__filters {
  position: absolute;
  width: 270px;
  height: 600px;
  background: #ffffff;
  border: 1px solid rgba(84, 95, 125, 0.14);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  z-index: 999;
  padding: 16px;
}
.select {
  background: rgba(33, 63, 125, 0.1);
  border-radius: 4px;
  padding: 8px 16px;
}

.user-details__modal {
  position: absolute;
  width: 180px;
  height: 130px;
  right: -10px;
  top: 100px;
  padding: 16px;
  background: #ffffff;
  border: 1px solid rgba(84, 95, 125, 0.04);
  box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  z-index: 9999;
}
