@import './variables';
img {
  display: block;
}
button {
  all: unset;
  cursor: pointer;
}
select {
  all: unset;
}

.text-color1 {
  color: $primary-text;
}
.text-color2 {
  color: $secondary-text;
}
.text-color3 {
  color: $tertiary-text;
}
.btn__blacklist {
  color: #e4033b;
  background-color: transparent;
  border: 1px solid #e4033b;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 8px 16px;
  font-weight: 600;
  &:hover {
    background-color: #e4033b;
    color: $bg-color;
    transition: all 0.5s linear;
  }
}
.btn__activate {
  color: $tertiary-text;
  background-color: transparent;
  border: 1px solid $tertiary-text;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 8px 16px;
  font-weight: 600;
  &:hover {
    background-color: $tertiary-text;
    color: $bg-color;
    transition: all 0.25s linear;
  }
}

.flex {
  @include flexItems;
}
.flex-btw {
  @include flexItems;
  justify-content: space-between;
}
.flexCol {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
